<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>企业档案管理系统</title>
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<link rel="shortcut icon" href="__PUBLIC__/image/icon.png">
</head>
<body>
	<section>
		<div class="topbanner">
			<img src="__PUBLIC__/image/logo.png">
			<!-- <h1>企业档案管理系统</h1> -->
		</div>
		<div class="form-unit">
			<form action="__URL__/redir_consultation" method="post">
				<div class="form-field">
					<select name="usertype" id="usertype">
						<option value="超级管理员">超级管理员</option>
						<option value="普通用户">普通用户</option>
					</select>
				</div>
				<div class="form-field">
					<input type="text" name="username" placeholder="用户名">
				</div>
				<div class="form-field">
					<input type="password" name="password" placeholder="密码">
				</div>
				<div class="form-field">
					<button type="submit">登录</button>
				</div>
			</form>
		</div>
	</section>

	<script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/js/script.js"></script>
	<script>
		window.onload = function() {
			login.init();
		}
	</script>
</body>
</html>