<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>企业档案管理系统</title>
	<link rel="shortcut icon" href="__PUBLIC__/image/icon.png">
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
</head>
<body class="container">
	<section>
		<div class="container">
			<div class="nav-wrapper">
				<div class="logo">
					<a href="__APP__/Admin/Index"><img src="__PUBLIC__/image/logo2.png"></a>
				</div>
				<div class="user-wrapper">
					<div id="username">欢迎您，<a href="#">{$_SESSION['username']}</a></div>
					<div id="exit"><a href="__ROOT__">退出登录</a></div>
				</div>
				<ul class="nav">
					<li class="dropdown">
						<a href="#" class="level1">基本档案管理</a>
						<ul class="dropdown-menu">
							<li class="super">
								<a href="__APP__/Admin/BaseInfo/create">新建档案</a>
							</li>
							<li>
								<a href="__APP__/Admin/BaseInfo/check">查看档案</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="level1">绩效档案管理</a>
						<ul class="dropdown-menu">
							<li>
								<a href="__APP__/Admin/Performance/attendence_check">考勤档案管理</a>
							</li>
							<li>
								<a href="__APP__/Admin/Performance/rnp_check">奖惩档案管理</a>
							</li>
							<li>
								<a href="__APP__/Admin/Performance/train_check">培训档案管理</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="level1">工资等级管理</a>
						<ul class="dropdown-menu">
							<li>
								<a href="__APP__/Admin/Salary/account_setting">账套档案管理</a>
							</li>
							<li>
								<a href="__APP__/Admin/Salary/salary_setting">人员设置</a>
							</li>
							<li>
								<a href="__APP__/Admin/Salary/statistic">统计报表</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="level1">系统维护</a>
						<ul class="dropdown-menu">
							<li>
								<a href="__APP__/Admin/System/company_frame">企业架构设置</a>
							</li>
							<li class="super">
								<a href="__APP__/Admin/System/basedata_setting">基本资料设置</a>
							</li>
							<li class="super">
								<a href="__APP__/Admin/System/system_init">初始化系统</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="level1">用户管理</a>
						<ul class="dropdown-menu">
							<li>
								<a href="__APP__/Admin/User/user_add">新增用户</a>
							</li>
							<li>
								<a href="__APP__/Admin/User/password_edit">修改密码</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="content">
				<div class="single-row">
					<ul class="mybreadcrumb">
						<li><a href="__APP__/Admin/Index">主页</a></li>
						<li>基本档案管理</li>
						<li>查看档案</li>
					</ul>
				</div>
				<div class="single-row super">
					<a class="btn btn-primary" href="__URL__/create">新建档案</a>
					<button class="btn btn-danger multi_delete">批量删除</button>
				</div>
				<div class="single-row">
					<label>
						<span>部门：</span>
						<select name="department" id="department">
							<option value="全部">全部</option>
							<option value="Java项目组">Java项目组</option>
							<option value="Php项目组">Php项目组</option>
							<option value="IOS项目组">IOS项目组</option>
						</select>
					</label>
				</div>
				<div class="single-row">
					<div class="table_scroll long">
						{$infoData}
					</div>
					<!-- <table class="table table-striped">
						<tr>
							<td>档案编号</td>
							<td>姓名</td>
							<td>性别</td>
							<td>部门</td>
							<td>职务</td>
							<td>操作</td>
						</tr>
						<tr>
							<td>J00001</td>
							<td>刘汝佳</td>
							<td>男</td>
							<td>Java项目组</td>
							<td>Java工程师</td>
							<td>
								<a href="__URL__/show">查看</a>
								<a href="">修改</a>
								<a href="">删除</a>
							</td>
						</tr>
						<tr>
							<td>J00002</td>
							<td>刘汝剑</td>
							<td>男</td>
							<td>Java项目组</td>
							<td>Java工程师</td>
							<td>
								<a href="">查看</a>
								<a href="">修改</a>
								<a href="">删除</a>
							</td>
						</tr>
						<tr>
							<td>J00003</td>
							<td>刘汝城</td>
							<td>男</td>
							<td>Java项目组</td>
							<td>Java工程师</td>
							<td>
								<a href="">查看</a>
								<a href="">修改</a>
								<a href="">删除</a>
							</td>
						</tr>
						<tr>
							<td>J00004</td>
							<td>刘汝楚</td>
							<td>男</td>
							<td>Java项目组</td>
							<td>Java工程师</td>
							<td>
								<a href="">查看</a>
								<a href="">修改</a>
								<a href="">删除</a>
							</td>
						</tr>
					</table> -->
				</div>
				<input id="user_type" type="hidden" value="{$usertype}">
			</div>
		</div>
	</section>

	<script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/js/script.js"></script>
	<script>
		window.onload = function() {
			main_nav.init();
			baseInfo_multiDelete.init();
			baseInfo_list_operation.init();
		}
	</script>
</body>
</html>